## US Segregation Metrics Report

In [1]:
#Set up
import pandas as pd

In [2]:
chicago_df = pd.read_csv("data/prepped/chicago_race.csv")
chicago_df

,GEOID,GEO.display.label,pop,pop.white,pop.not.white,pct.white,pct.not.white
0,17031010201,17031010201,6450,2312,4138,0.358450,0.641550
1,17031010202,17031010202,2818,1237,1581,0.438964,0.561036
2,17031010300,17031010300,6236,3267,2969,0.523894,0.476106
3,17031010400,17031010400,5042,3341,1701,0.662634,0.337366
4,17031010503,17031010503,2290,1452,838,0.634061,0.365939
...,...,...,...,...,...,...,...
1214,18089030700,18089030700,2064,534,1530,0.258721,0.741279
1215,18089030800,18089030800,4272,1513,2759,0.354167,0.645833
1216,18089030900,18089030900,3575,1097,2478,0.306853,0.693147
1217,18089031000,18089031000,1560,210,1350,0.134615,0.865385
1218,18089040100,18089040100,1474,1148,326,0.778833,0.221167

In [3]:
white_pop = chicago_df["pop.white"].sum()
print ("White Population:", white_pop)

White Population: 2513996

In [4]:
not_white_pop = chicago_df["pop.not.white"].sum()
print ("Not White Population:", not_white_pop)

Not White Population: 2134618

In [5]:
diversity_ratio = white_pop/not_white_pop
print ("Diversity Ratio:", diversity_ratio)

Diversity Ratio: 1.1777264128757463

## Chicago Interaction Index

In [6]:
total_minority_pop = chicago_df["pop.not.white"].sum()
total_minority_pop

2134618

In [7]:
chicago_df["interaction_index"] = (chicago_df["pop.not.white"]/total_minority_pop) * (chicago_df["pop.white"]/chicago_df["pop"])
chicago_df.head(5)

,GEOID,GEO.display.label,pop,pop.white,pop.not.white,pct.white,pct.not.white,interaction_index
0,17031010201,17031010201,6450,2312,4138,0.358450,0.641550,0.000695
1,17031010202,17031010202,2818,1237,1581,0.438964,0.561036,0.000325
2,17031010300,17031010300,6236,3267,2969,0.523894,0.476106,0.000729
3,17031010400,17031010400,5042,3341,1701,0.662634,0.337366,0.000528
4,17031010503,17031010503,2290,1452,838,0.634061,0.365939,0.000249

In [8]:
#summing the interaction index column to get tha actual interaction index of chicago
interaction_index_of_chicago = chicago_df["interaction_index"].sum()
interaction_index_of_chicago

0.33621530101878605

## Calculating the Interaction Index of all cities

In [9]:
import os

In [10]:
def print_all_interaction_indexes():
    
    # create a list of all city csv files in my prep folder
    city_file_name_list = os.listdir("data/prepped/")
    
    # for loop
    #Iterate through each file name and print out interaction index for each city
    
    for city_file_name in city_file_name_list:
        
        # Makin a data frame for the city
        city_df = pd.read_csv("data/prepped/"+city_file_name)
        
        # Calculating the minority population
        total_minority_pop = city_df["pop.not.white"].sum()
        
        # Calculating the interaction index value for each tract
        city_df["interaction_index"] = (city_df["pop.not.white"]/total_minority_pop) * (city_df["pop.white"]/city_df["pop"])
       
        # Calculating the interaction index of city
        interaction_index_of_city = city_df["interaction_index"].sum()  
        
        # remove "race_csv" from each name and make 1st capital
        city_file_name = city_file_name.replace("_race.csv","").title()
        
        # Printing the interaction index of city
        print(city_file_name, ":",interaction_index_of_city)

In [11]:
print_all_interaction_indexes()

Baltimore : 0.21709369506053244
Charleston : 0.5181057467459754
Chicago : 0.33621530101878605
Columbus : 0.5370267887655849
Dayton : 0.5072699799837672
Denver : 0.6852801607490661
Kc : 0.5806694539317967
Memphis : 0.4811953882784695
Milwaukee : 0.40424141689420257
Ok_City : 0.6134720843684374
Pittsburgh : 0.602965687041454
St_Louis : 0.4204527865157873
Syracuse : 0.606170839777443
Wichita : 0.639562420122306

# Calculating isolation indexex for all cities

In [12]:
def print_all_isolation_indexes():
    
    # create a list of all city csv files in my prep folder
    city_file_name_list = os.listdir("data/prepped/")
    
    # for loop
    #Iterate through each file name and print out interaction index for each city
    
    for city_file_name in city_file_name_list:
        
        # Makin a data frame for the city
        city_df = pd.read_csv("data/prepped/"+city_file_name)
        
        # Calculating the minority population
        total_minority_pop = city_df["pop.not.white"].sum()
        
        # Calculating the isolation index value for each tract
        city_df["isolation_index"] = (city_df["pop.not.white"]/total_minority_pop) * (city_df["pop.not.white"]/city_df["pop"])
       
        # Calculating the interaction index of city
        isolation_index_of_city = city_df["isolation_index"].sum()  
        
        # remove "race_csv" from each name and make 1st capital
        city_file_name = city_file_name.replace("_race.csv","").title()
        
        # Printing the interaction index of city
        print(city_file_name, ":",isolation_index_of_city)

In [13]:
print_all_isolation_indexes()

Baltimore : 0.7829063049394676
Charleston : 0.4818942532540245
Chicago : 0.663784698981214
Columbus : 0.4629732112344152
Dayton : 0.4927300200162328
Denver : 0.3147198392509339
Kc : 0.41933054606820336
Memphis : 0.5188046117215305
Milwaukee : 0.5957585831057974
Ok_City : 0.3865279156315625
Pittsburgh : 0.39703431295854597
St_Louis : 0.5795472134842126
Syracuse : 0.393829160222557
Wichita : 0.3604375798776941